extends template

block title
  title Сайт про обувь 

block footer 
  +footer-long-page 

block content
    .block-block-2
      .img-1
        a(href="Page_03.html") 
          img(src='https://myreact.ru/wp-content/uploads/2021/07/469470a04a243f64a7937fd7f1a3a285.jpg')
        img(src='https://myreact.ru/wp-content/uploads/2020/08/img01-33.jpg')
        img(src='https://myreact.ru/wp-content/uploads/2020/08/img01-54.jpg')
        img(src='https://myreact.ru/wp-content/uploads/2020/08/img01-15.jpg')
    .my-block-1

    +block-content-2('https://myreact.ru/wp-content/uploads/2020/09/img01-1-1.jpg', 'Air Jordan 1 Mid Lakers Top 3', 'Nike Air Jordan 1 – с этой модели начиналась история Jordan Brand. Появившиеся на свет в 1988 году они поразили своим ярким дизайном, не применяемым ни в одной баскетбольной обуви того времени. За что и штрафовали Майкла на 5000 $ каждую игру, когда он появлялся в “единичках” . Вся эта шумиха спровоцировала огромный интерес к модели и Nike это было на руку. В итоге толпы фанатов выстраивались в очередь, чтобы заполучить “запрещенную” модель Майкла Джордана.')
    
    +block-content-2('https://myreact.ru/wp-content/uploads/2020/08/img01-15.jpg', 'ir Jordan 1 Mid Satin Grey Toe', 'Кроссовки Air Jordan 1  Mid – с этой модели начиналась история Jordan Brand. Появившиеся на свет в 1988 году они поразили своим ярким дизайном, не применяемым ни в одной баскетбольной обуви того времени. За что и штрафовали Майкла на 5000 $ каждую игру, когда он появлялся в “единичках” . Вся эта шумиха спровоцировала огромный интерес к модели и Nike это было на руку. В итоге толпы фанатов выстраивались в очередь, чтобы заполучить “запрещенную” модель Майкла Джордана.')
    
    +block-content-2('https://myreact.ru/wp-content/uploads/2020/08/img01-54.jpg', 'Air Jordan 1 Low Black Toe', 'Air Jordan 1 – с этой модели начиналась история Jordan Brand. Появившиеся на свет в 1988 году они поразили своим ярким дизайном, не применяемым ни в одной баскетбольной обуви того времени. За что и штрафовали Майкла на 5000 $ каждую игру, когда он появлялся в “единичках” . Вся эта шумиха спровоцировала огромный интерес к модели и Nike это было на руку. В итоге толпы фанатов выстраивались в очередь, чтобы заполучить “запрещенную” модель Майкла Джордана.')